@model FullPostObjectModel;

@{
    Layout = "_GuestLayout";
    ViewBag.Title = Model.Post.Subject;
    var request = Context.Request;
    var baseUri = string.Concat(request.Scheme, "://", request.Host.ToUriComponent());
    var userIsAuthorized = Context.User.Identity.IsAuthenticated;
}

            <!-- Feeds for you -->
            <div class="row pt-0">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="container p-0">
                  <div class="row pb-2 pt-2 style="background-color:transparent; margin-left: 1px; height: 100px;">
                    <!-- First Post -->
                    <div class="col-12 p-0 pl-4 pr-2 pb-2">
                      <div class="post_item" style="height: 370px;">
                        <div class="container">
                          <div class="row pt-3">
                            <!--Image and name-->
                            <div class="col-12">
                              <img class="float-left post_item_image" src="@Model.UserImageURI">
                              <p class="float-left pl-3 pt-2 post_item_name">@Model.Post.Username <br> <span class="post_item_category">.@Model.Post.CategoryHeader</span></p>
                              <p class="float-right pr-3 pt-2 post_item_date">@Model.Post.TimeStamp.GetTimeAgo()</p>
                            </div> 
                            <div class="col-12 text-center" style="height: max-content;">
                              <p class="post_item_subject pt-2 pb-2">@Model.Post.Subject</p>
                              <img class="post_item_description_image" src="@Model.ImageURI" style="height: 300px; width: 80%;">
                            </div>
                             <!-- icons -->              
                            <div class="col-12 pt-2 pb-2">
                              <div class="container pl-4">
                                <div class="row">
                                  <!-- Views -->
                                  <div class="col-4 p-0 pl-5">
                                    <p style="color: rgb(12, 11, 11); opacity: 0.5; font-size: 16px;"><i class="fa fa-eye pr-2"></i>@Model.Visits</p>
                                  </div>
                                  <!-- Comments -->
                                  <div class="comments-icon col-4 text-center p-0">
                                    <p style="font-size: 16px;"><i class="fa fa-comments pr-2"></i>@Model.CommentsCount</p>
                                  </div>
                                  <!-- liked -->
                                  <div class="likes-icon col-4 text-center p-0">
                                    <p style="font-size: 16px;"><i style="color: gray;" class="fa fa-certificate"></i> @Model.PostCertificates.Item2</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--Link-->
                            <div class="col-12 pt-0 pl-5 pr-5">
                              <p class="pt-2 post_item_description_text">@Model.Post.Description</p>
                              <hr style="background-color: #C4C4C4; color: #C4C4C4; height:1px; width:90%">
                              <a asp-action="GotoPostLink" asp-controller="Posts" asp-route-postid="@Model.Post.PostId" target="_blank">
                               <p class="post_item_link"> @Model.Post.PostLink</p>
                              </a>
                            </div>

                            <!-- Comment Section-->
                            <section class="col-12 pt-2 pb-5" style="border-radius: 7.5px; background-color:white;">
                              <p class="post_item_subject pt-2 pb-0 pl-2" style="font-weight: 500 !important; font-size: 18px !important;">Comments</p>
                              <hr class="mt-0 mb-0 pt-0 pb-4" style="background-color: transparent;">

                              <!-- Comments -->
                              <div style="height: max-content; max-height: 20rem; overflow-y:auto;">
                                @if(Model.Comments.Count == 0)
                                {
                                  <p style="text-align: center;font-weight: 500;font-size: 16px;">No Comments</p>
                                }
                                @if(Model.Comments.Count > 0)
                                {
                                  <div class="container">
                                    
                                    @foreach (var comment in Model.Comments)
                                    {
                                      <div class="row" style="background-color: #F5F5F5;border-radius: 5px;padding: 1.5rem;width: 100%;height: max-content; margin-bottom: 1rem;">
                                        <div class="col-12">
                                          <img class="float-left post_item_image mr-3" src="@comment.UserImage" style="width: 30px; height: 30px;">
                                          <h4 class="float-left pt-2 pb-2" style="font-size: 16px;font-weight: 400;text-align: left;">@comment.Username</h4>
                                          <p class="float-right pr-3 pt-2 post_item_date">@comment.TimeStamp.GetTimeAgo()</p>
                                        </div>
                                        <div class="col-12">
                                          <p style="font-size: 14px;color: #262F56;">@comment.Text</p>
                                        </div>
                                      </div>
                                    }
                                  </div>
                                }
                              </div>
                            </section>

                          </div>
                        </div>
                      </div>
                    </div>                   
                  </div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>

<style>
 .post_item {
   background-color: #F0F0F0;
   border-radius: 5px;
 }
 
 .post_item_image {
   border-radius: 100%; 
   height: 40px; 
   width: 40px;
 }
 
 .post_item_name {
   font-size: 16px;
   font-weight: 400;
   text-transform: capitalize;
 }
 
 .post_item_category {
   color: #0395FF;
   font-size: 13px;
   font-weight: 400;
 }
 
 .post_item_date {
   font-size: 14px;
   color: black;
   font-weight: 300;
 }
 
 .post_item_subject {
   color: #262F56;
   font-size: 16px;
   font-weight: 400;
 }
 
 .post_item_description_image {
   width: 300px;
   height: 273;
   border-radius: 5px; 
   margin:10px;
 }
 
 .post_item_description_text {
   font-size: 16px;
   font-weight: 400;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
 }
 
 .post_item_link {
   color: #0395FF;
   font-size: 16px;
   font-weight: 400;
   font-style: italic;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   overflow:hidden;
   text-overflow: ellipsis;
 }

 .post_item_link:hover{
  text-decoration: underline;
}

.comments-icon{
  color: #0395FF;
}

.likes-icon{
  color:#262F56;
}

.save-icon{
  color:#0395FF;
}
 </style>